@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --Background-color: #3B4664;
    --output-section: #181F32;
    --buttons-color: #EAE3DB;
    --buttons-border-bottom-color: #B2A295;
    --hover-buttons-color: white;
    --equal-button: #D13F30;
    --equal-button-order-bottom-color: #96271C;
    --hover-equal-button: #F96C5B;
    --reset-button: #647299;
    --reset-button-border-bottom-color: #424E74;
    --hover-reset-button: #A2B3E1;
    --buttons-background: #252C46;
    --white: white;
    --black: black;

    --Background-color-theme-two: #E6E6E6;
    --output-section-theme-two: white;
    --buttons-background-theme-two: #D3CDCD;
    --reset-button-theme-two: #388187;
    --buttons-color-theme-two: #E5E4E0;
    --hover-reset-button-theme-two: #62B5BD;
    --reset-button-border-bottom-color-theme-two:#1D5C65;
    --equal-button-order-bottom-color-theme-two:#863800;

    --hover-equal-button-theme-two: #FF8B38;
    --equal-button-theme-two: #C85401;


    --Background-color-theme-three: #17062A;
    --buttons-color-theme-three: #FDE03C;
    --buttons-background-color-theme-three: #331B4D;
    --buttons-background-theme-three: #1E0836;
    --equal-button-theme-three: #00DECF;
    --reset-button-theme-three: #57067C;
    --equal-button-order-bottom-color-theme-three: #6DF7EF;
    --reset-button-border-bottom-color-theme-three: #BF15F4;
    --buttons-border-bottom-color-theme-three: #881FA0;
    --hover-reset-button-theme-three: #8631B0;
    --hover-equal-button-theme-three: #94FFF9;
    --hover-buttons-color-theme-three: #6B34AC;






}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--Background-color);
    display: grid;
    grid-template-columns: 1fr 25em 1fr;

    padding: 3.125em 0;
}

.calculator-section {
    grid-column: 2 / 3;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em 6.25em 25em;
    display: grid;
    gap: 1.125em
}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;


}


.switch-theme-button-design {
    grid-column: 4 / 5;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4em 1em;



}

.theme-numbers {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-between;


}



.header-title {
    grid-column: 1 / 4;
    padding: 0;
    color: var(--white);
    font-size: 1.4rem;

}


.switch-theme-button-design-title {
    color: var(--white);
    font-size: 0.7rem;
}

.switch-button {
    background-color: var(--buttons-background);


    border-radius: 0.62em;
    cursor: pointer;
    display: grid;
    justify-content: start;

}

.switch-button-circle {
    width: 0.8em;
    height: 0.8em;
    background-color: var(--equal-button);
    border-radius: 50%;
}

.theme-number {
    color: var(--black);
    font-size: 0.7em;
    display: grid;
    justify-items: center;
    align-items: center;

}

.theme-1 {
    color: var(--white);
}

.output-section {


    background-color: var(--output-section);
    border-radius: 0.62em;

    display: grid;
    justify-items: end;
    align-items: center;

}

.output-section-text {
    color: var(--white);
    
    margin-right: 1.25em;
    font-size: 2.5em;
    font-weight: 800;
    overflow-x: scroll;


    white-space: nowrap;
    cursor: pointer;
}

.output-section-text::-webkit-scrollbar {
    height: 0.38em;

}

.output-section-text::-webkit-scrollbar-track {
    background: transparent;
}

.output-section-text::-webkit-scrollbar-thumb {
    background-color: var(--equal-button);
    border-radius: 0.62em;
}

.calculator-body {
    background-color: var(--buttons-background);


    border-radius: 0.62em;
    box-sizing: border-box;
    padding: 1.25em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 2.18em;


}

.button-1 {
    background-color: var(--buttons-color);
    border-radius: 0.62em;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.3em;
    color: var(--buttons-background);

    border: 0.125em solid var(--buttons-border-bottom-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
}

.button-1:hover {
    background-color: var(--hover-buttons-color);
}

.reset-button {
    grid-column: 1 / 3;
    background-color: var(--reset-button);
    color: var(--white);
    border: 0.125em solid var(--reset-button-border-bottom-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.reset-button:hover, .del-button:hover {
    background-color: var(--hover-reset-button);
}

.equal-button {
    grid-column: 3 / 5;
    background-color: var(--equal-button);
    color: var(--white);
    border: 0.125em solid var(--equal-button-order-bottom-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.equal-button:hover {
    background-color: var(--hover-equal-button);
}

.del-button {
    background-color: var(--reset-button);
    color: var(--white);

    border: 0.125em solid var(--reset-button-border-bottom-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}